<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello @ViewBag.Name</h1>
    <h2>User Name : @ViewBag.Name</h2>
    <h2>dojo location : @ViewBag.location</h2>
    <h2>Favorite language : @ViewBag.language</h2>
    <h1> comment : @ViewBag.comment</h1>

</body>
</html>